.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: rgb(220 220 220);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 0.5px solid black;
}

.stone {
  display: flex;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 100%;
}

.circle {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: rgb(0 200 200 / 100%);
  border-radius: 100%;
}

.setcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 635px;
  height: 100px;
  padding: 0 0.5rem;
  font-size: 20px;
  background-color: rgb(180 180 180);
}
