.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #fff;
}

.worldboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 361px;
  height: 711px;
  border: 5px solid;
  border-color: #03f;
  border-radius: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 700px;
  background-color: #fff;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #0032d5;
  border: solid 1px;
  border-color: #999;
  border-radius: 3px;
}

.informationBoard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 700px;
  margin-left: 5px;
}

.nextMino {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-size: 40px;
  color: #000;
  border: 10px solid;
  border-color: #03f;
  border-radius: 30px;
}

.operationBox {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
}

.directionButton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  font-size: 30px;
  background-color: #666;
  border: 5px solid;
  border-color: #bbb;
  border-radius: 10px;
}

.directionButton:active {
  transform: translateY(2px);
}

.iStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #0cf;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #85e7ff #009cc4 #005a70;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}

.oStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #fe0;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #fff783 #b8ab00 #7e7500;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}

.sStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #3f0;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #9aff80 #20a100 #197c00;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}

.zStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #f00;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #ff7a7a #c70000 #7e0000;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}

.lStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #ff7300;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #ffbc84 #c75a00 #7c3800;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}

.jStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #0004ff;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #7f81ff #0003c0 #00027c;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}

.tStone {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 35px;
  background-color: #c0f;
  border: 3px solid; /* 左右の幅を3pxに */
  border-color: #e57eff #a500ce #530068;
  border-top-width: 5px; /* 上部の幅を5pxに */
  border-bottom-width: 5px; /* 下部の幅を5pxに */
}
